<br>
<form [formGroup]="loginForm" (submit)="submitForm(loginForm)">

    <input type='text' placeholder="type your email here" formControlName="email" />
    <br />
    <ng-container *ngIf="loginForm.controls.email?.touched">
        <span *ngIf="loginForm.controls.email.invalid">
            Bad email
        </span>
    </ng-container>
    <br />
    <input type='text' placeholder="type your name here" formControlName="name" />

    <ng-container *ngIf="loginForm.controls.name?.touched">
        <span *ngIf="loginForm.controls.name.invalid">
            minimum 5 signs
        </span>
    </ng-container>
    <br />
    <br />

    <button [disabled]="!loginForm.valid">Log In</button>

</form>
<br>
<br>
<p>color {{color}}</p>
<div>
    <button (click)="selectColor('highContrast')">Set high contrast</button>
</div>
<div>
    <button (click)="selectColor('normal')">Set normal contrast</button>
</div>