<!-- <div *ngIf="playerInfo.length===0">
  <br />
  <h2>Welcome to Tetris Game </h2>
  <br />
  <br />
  <br />
  <h3>Please enter your name and e-mail below</h3>
  <p>
    <input type="text" [(ngModel)]="name" placeholder="Name" #nameModel="ngModel" required />
    <br>
    <input type="text" [(ngModel)]="email" placeholder="E-mail" #emailModel="ngModel" required />
    <br>
    <button class="main" [disabled]="!emailModel.valid || !nameModel.valid" (click)="add()">START GAME</button>
  </p>

</div>

<div *ngIf="playerInfo.length>0">
  <tetris-core #game (lineCleared)="gameCounter()"></tetris-core>
  <button class="game" (click)="startGame(game)">Start</button>
  <button class="game" (click)="pauseGame(game)">Stop</button>
  <button class="game" (click)="restartGame(game)">Reset</button>
  <button class="game" (click)="endGame(game)">EndGame</button>
  <h1> Player name: {{name}} </h1>
  <h1> Time: {{time}} s</h1>
  <h1> Points: {{counter}} </h1>
  <h1> Game status: {{status}}</h1>
  <button class="game" (click)="showGameHistory()">Game History</button>
  <button class="game" (click)="game.actionRotate()">Rotate</button>
  <button class="game" (click)="game.actionLeft()">Left</button>
  <button class="game" (click)="game.actionRight()">Right</button>
  <button class="game" (click)="game.actionDown()">Down</button>
  <div *ngIf='showHistory===true'>
    {{history}}
    <p *ngFor="let category of categories">
      <button class="game" (click)="onCategoryClicked(category)">
        {{category.name}}({{category.product.length}})</button>
    </p>
    <button>Sort by date</button>
  </div>
</div> -->


<!-- <app-login-page *ngIf="appState===states.LOGINPAGE" (submit)="onFormSubmit($event)"></app-login-page>
<app-game *ngIf="appState===states.GAME" [playerData]="player" (close)='onGameClosed()'></app-game> -->
<router-outlet></router-outlet>
<button (click)="Game()">Start Game</button>

<!--  -->
<!-- *ngIf="appState===states.GAME" [playerData]="player" (close)='onGameClosed()' -->
<!-- *ngIf="appState===states.GAME" [playerData]="player" (close)='onGameClosed()' -->
<!--  -->
<!-- *ngIf="appState===states.GAME" -->
<!-- *ngIf="appState===states.LOGINPAGE" -->